<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:./crmdb;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Enable H2 console -->
        <property name="hibernate.h2.console.enabled">true</property>
        <property name="hibernate.h2.console.path">/h2-console</property>

        <!-- Names the annotated entity class -->
        <mapping class="com.example.javacrm.model.User"/>
        <mapping class="com.example.javacrm.model.Car"/>
        <mapping class="com.example.javacrm.model.Customer"/>
        <mapping class="com.example.javacrm.model.Deal"/>
        <mapping class="com.example.javacrm.model.Insurance"/>
        <mapping class="com.example.javacrm.model.AdditionalEquipment"/>
        <mapping class="com.example.javacrm.model.DealEquipment"/>
    </session-factory>
</hibernate-configuration> 